  <div class="container">
               <header>
                    <%= asset_path('banner.jpeg') %>
                     <img src="/assets/banner.png">
 
                
                </header>
      
      
      
  </div>
  
  



